@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &--primary {
        color: variables.$textColor;
        border-radius: 6px;
        background-image: linear-gradient(variables.$yellow1, variables.$yellow2);
        box-shadow: 0px 3px 10px variables.$secondaryTextColor;
    }
    
    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }
    
    @media (min-width: 641px) and (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}