@use '../variables';

.infos-bar {
    padding: 16px 24px;
    background-image: linear-gradient(variables.$yellow2, variables.$yellow1);
    display: flex;
    justify-content: space-between;

    &__infos {
        display: flex;
        gap: 40px;
        text-align: center;

        &__item {
            font-size: 14px;
            color: variables.$textColor;

            b {
                display: block;
                font-size: 18px;
                color: variables.$textColor;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (min-width: 641px) and (max-width: 1024px) {
        &__infos {
            gap:12px;
            text-align: left;

            &__item {
                max-width: 31%;
            }
        }
    }
}